<div class="container">
    <div class="row mt-5 mb-5 p-2">
        <table class="table table-bordered table-hover table-md mt-3">
            <thead class="table-dark">
            <tr>
                <th scope="col">UserId</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Avatar</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Marry</td>
                <td>marry@gmail.com</td>
                <td>User</td>
                <td>
                    <img src="/images/User/user2.jpg" class="card-img-top" alt="" style="width: 3rem;">
                </td>
                <td>True</td>
                <td>
                    <i class="bi bi-pencil-square text-success"></i>
                    <i class="bi bi-trash-fill text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tom</td>
                <td>tom@gmail.com</td>
                <td>User</td>
                <td>
                    <img src="/images/User/user1.jpg" class="card-img-top" alt="" style="width: 3rem;">
                </td>
                <td>True</td>
                <td>
                    <i class="bi bi-pencil-square text-success"></i>
                    <i class="bi bi-trash-fill text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nana</td>
                <td>nana@gmail.com</td>
                <td>User</td>
                <td>
                    <img src="/images/User/user3.jpg" class="card-img-top" alt="" style="width: 3rem;">
                </td>
                <td>True</td>
                <td>
                    <i class="bi bi-pencil-square text-success"></i>
                    <i class="bi bi-trash-fill text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Lucy</td>
                <td>lucy@gmail.com</td>
                <td>User</td>
                <td>
                    <img src="/images/User/user4.jpg" class="card-img-top" alt="" style="width: 3rem;">
                </td>
                <td>True</td>
                <td>
                    <i class="bi bi-pencil-square text-success"></i>
                    <i class="bi bi-trash-fill text-danger"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>