<div class="container mt-5 bg-light">
    <div class="card mb-5">
        <div class="card-body">
            <form th:action="${attribute == null} ? '/manage-add-attribute' : '/manage-update-attribute?id='+${attribute?.id}"
                  method="post"
                  enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Attribute Name</label>
                    <input th:value="${attribute?.attributeName}" class="form-control" id="" name="attributeName"
                          >
                    <small class="text-danger"
                           th:if='${error?.getFieldError("attributeName")!=null}'
                           th:text='${error?.getFieldError("attributeName")?.getDefaultMessage()}'></small>
                </div>
                <div class="mb-3">
                    <label for="attributeNote" class="form-label">Attribute Note</label>
                    <input th:value="${attribute?.attributeNote}" class="form-control" id="attributeNote" name="attributeNote" rows="3"
                         >
                    <p th:text="${error1}" class="text-danger"></p>
                </div>


                <div class="mt-4">
                    <input type="submit" class="btn btn-success"
                           th:value="${attribute == null} ? 'Create' : 'Update'">
                    <a href="/manage-clear-attribute" type="button" class="btn btn-secondary">Clear</a></div>
            </form>
        </div>
    </div>
    <!-- Attribute Table -->
    <div class="d-flex mt-4" style="overflow-y: scroll; max-height: 300px">
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">Attribute Name</th>
                <th scope="col">Attribute Note</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Điền dữ liệu của category từ cơ sở dữ liệu vào đây -->
            <tr th:each="item : ${attributes}">
                <td th:text="${item.attributeName}"></td>
                <td th:text="${item.attributeNote}"></td>
                <td>
                    <div class="row">
                        <div class="col-3">
                            <form th:action="'/manage-edit-attribute'" method="post">
                                <input type="hidden" name="id" th:value="${item?.id}">
                                <button type="submit" role="button" th:if="${item?.id != null}"
                                        class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-3">
                            <form th:action="'/manage-delete-attribute'" method="post">
                                <input type="hidden" name="id" th:value="${item?.id}">
                                <button type="submit" role="button" th:if="${item?.id != null}"
                                        class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


