<div class="container">
    <div class="row mt-5 mb-5 p-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="active-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Category</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="link-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">List category</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="active-tab">
                <form action="" method="">
<!--                    <h1 class="text-center mt-2">Category</h1>-->
                    <div class="row g-2 mt-2">
                        <div class="col-md">
                            <div class="mb-3">
                                <label class="form-label">CategoryID:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label class="form-label">Name:</label>
                                <input type="password" class="form-control" placeholder="Enter name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description:</label>
                            <textarea class="form-control" rows="5" placeholder="Enter description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add category</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="link-tab">
                <table class="table table-bordered table-hover table-md mt-3">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">CategoryId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Gaming</td>
                        <td>abc</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tabLinks = document.querySelectorAll('.nav-link');
        tabLinks.forEach(function(tabLink) {
            tabLink.addEventListener('click', function(event) {
                event.preventDefault();
                var target = this.getAttribute('href');
                document.querySelector(target).classList.add('show', 'active');
                var tabContents = document.querySelectorAll('.tab-pane');
                tabContents.forEach(function(tabContent) {
                    if ("#" + tabContent.id !== target) {
                        tabContent.classList.remove('show', 'active');
                    }
                });
            });
        });
    });
</script>


