<div class="container mt-3">
    <form>
        <div class="row g-3">
            <div class="col-4">
                <div class="mb-1">
                    <label class="form-label">Discount</label>
                    <select class="form-select" ng-options="promotion as promotion.name for promotion in promotions"
                            ng-model="selectedPromotion" ng-change="updatePromotionDetails()">
                        <option value="">Select a promotion</option>
                    </select>
                </div>
                <div class="mb-1 mt-2">
                    <label for="exampleDataList" class="form-label">Discount level (%)</label>
                    <input type="number" class="form-control" list="datalistOptions" id="exampleDataList" ng-model="selectedDiscountLevel" ng-change="updateProductDetails()" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option ng-repeat="level in discountLevels track by $index" value="{{level}}"></option>
                    </datalist>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-1">
                    <label class="form-label">Start day</label>
                    <input type="date" class="form-control" ng-model="selectedStartDate" readonly>
                </div>
                <div class="mt-4 pt-3" ng-show="showCreateButton">
                    <button type="button" class="btn btn-success" ng-click="createDiscount()">Create</button>
                </div>
                <div class="mt-4 pt-3" ng-show="showApplyButton">
                    <button type="button" class="btn btn-primary" ng-click="applyDiscount()">Apply</button>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-1">
                    <label class="form-label">End day</label>
                    <input type="date" class="form-control" ng-model="selectedEndDate" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="row d-flex">
            <div class="col-3">
                <label class="form-label">Filter by Name</label>
                <input type="text" class="form-control" ng-model="filterName" placeholder="Enter product name...">
            </div>
            <div class="col-3">
                <label class="form-label">Filter by Category</label>
                <select class="form-select" ng-options="category as category.name for category in categories" ng-model="filterCategory">
                    <option value="">All categories</option>
                </select>
            </div>
            <div class="col-3">
                <label class="form-label">Filter by Brand</label>
                <select class="form-select" ng-options="brand as brand.name for brand in brands" ng-model="filterBrand">
                    <option value="">All brands</option>
                </select>
            </div>
            <div class="col-3">
                <label class="form-label">Sort by</label>
                <select class="form-select" ng-model="sortOption">
                    <option value="id_asc">ID (A-Z)</option>
                    <option value="id_desc">ID (Z-A)</option>
                    <option value="name_asc">Name (A-Z)</option>
                    <option value="name_desc">Name (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="d-flex" style="overflow-y: scroll; max-height: 800px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in selectedProducts | filter:customFilter | orderBy:sortFunction">
                    <td><input type="checkbox" ng-checked="selectedProductIds.indexOf(product.promotionProductId) > -1" ng-click="toggleProductSelection(product)"></td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.brand.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <div class="col text-end">
                <button class="btn btn-primary" ng-click="removeSelectedProducts()">Remove</button>
            </div>
        </div>
    </form>
</div>


<script src="/js/handleDiscount.js"></script>



