<div class="container mt-5 bg-light">
    <!-- Card for Add/Edit Voucher Form -->
    <div class="card mb-5">

        <div class="card-body">
            <form th:action="${voucher == null} ? '/add-voucher' : '/update-voucher?id='+${voucher?.id}" method="post"
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="voucherCode" class="form-label">Voucher Code</label>
                        <input th:value="${voucher?.voucherCode}" type="text" class="form-control" id="voucherCode"
                               name="voucherCode">
                        <span class="text-danger" th:if="${error?.getFieldError('voucherCode') != null}"
                              th:text="${error?.getFieldError('voucherCode')?.getDefaultMessage()}"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="leastBill" class="form-label">Least Bill Amount</label>
                        <input th:value="${voucher?.leastBill}" type="number" class="form-control" id="leastBill"
                               step="0.01" name="leastBill">
                        <span class="text-danger" th:if="${error?.getFieldError('leastBill') != null}"
                              th:text="${error?.getFieldError('leastBill')?.getDefaultMessage()}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="leastDiscount" class="form-label">Least Discount</label>
                        <input th:value="${voucher?.leastDiscount}" type="number" class="form-control"
                               id="leastDiscount" step="0.01" name="leastDiscount">
                        <span class="text-danger" th:if="${error?.getFieldError('leastDiscount') != null}"
                              th:text="${error?.getFieldError('leastDiscount')?.getDefaultMessage()}"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="biggestDiscount" class="form-label">Biggest Discount</label>
                        <input th:value="${voucher?.biggestDiscount}" type="number" class="form-control"
                               id="biggestDiscount" step="0.01" name="biggestDiscount">
                        <span class="text-danger" th:if="${error?.getFieldError('biggestDiscount') != null}"
                              th:text="${error?.getFieldError('biggestDiscount')?.getDefaultMessage()}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="discountLevel" class="form-label">Discount Level</label>
                        <input th:value="${voucher?.discountLevel}" type="number" class="form-control"
                               id="discountLevel" name="discountLevel">
                        <span class="text-danger" th:if="${error?.getFieldError('discountLevel') != null}"
                              th:text="${error?.getFieldError('discountLevel')?.getDefaultMessage()}"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="discountForm" class="form-label">Discount Form</label>
                        <input th:value="${voucher?.discountForm}" type="text" class="form-control" id="discountForm"
                               name="discountForm">
                        <span class="text-danger" th:if="${error?.getFieldError('discountForm') != null}"
                              th:text="${error?.getFieldError('discountForm')?.getDefaultMessage()}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input th:value="${voucher?.startDate}" type="date" class="form-control" id="startDate"
                               name="startDate">
                        <span class="text-danger" th:if="${error?.getFieldError('startDate') != null}"
                              th:text="${error?.getFieldError('startDate')?.getDefaultMessage()}"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="endDate" class="form-label">End Date</label>
                        <input th:value="${voucher?.endDate}" type="date" class="form-control" id="endDate"
                               name="endDate">
                        <span class="text-danger" th:if="${error?.getFieldError('endDate') != null}"
                              th:text="${error?.getFieldError('endDate')?.getDefaultMessage()}"></span>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" th:value="${voucher == null} ? 'Create' : 'Update'">
                <a href="/clear-voucher" type="button" class="btn btn-secondary" id="clearFormBtn">Clear</a>
            </form>
        </div>
    </div>

    <!-- Voucher Table -->
    <div class="d-flex mt-4" style="overflow-y: scroll; max-height: 200px">
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">Voucher ID</th>
                <th scope="col">Voucher Code</th>
                <th scope="col">Least Bill</th>
                <th scope="col">Least Discount</th>
                <th scope="col">Biggest Discount</th>
                <th scope="col">Discount Level</th>
                <th scope="col">Discount Form</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Điền dữ liệu của voucher từ cơ sở dữ liệu vào đây -->
            <tr th:each="item : ${Vouchers}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.voucherCode}"></td>
                <td th:text="${item.leastBill}"></td>
                <td th:text="${item.leastDiscount}"></td>
                <td th:text="${item.biggestDiscount}"></td>
                <td th:text="${item.discountLevel}"></td>
                <td th:text="${item.discountForm}"></td>
                <td th:text="${item.startDate}"></td>
                <td th:text="${item.endDate}"></td>
                <td>
                    <div class="row">
                        <div class="col-3">
                            <form th:action="'/edit-voucher'" method="post">
                                <input type="hidden" name="id" th:value="${item?.id}">
                                <button type="submit" role="button" th:if="${item?.id != null}"
                                        class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-3">
                            <form th:action="'/delete-voucher'" method="post">
                                <input type="hidden" name="id" th:value="${item?.id}">
                                <button type="submit" role="button" th:if="${item?.id != null}"
                                        class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>





