
<div class="container mt-5 bg-light">

    <div class="row">
        <div class="col-9">
            <h1 class="mb-4">Product Version Table</h1>
        </div>

    </div>

    <div class="row d-flex justify-content-between">
        <div class="d-flex input-group w-25 px-3" style="position: relative;">
            <input type="text" class="form-control" id="searchInput" style="max-height: 100px;"
                   ng-model="searchQuery">
            <button id="searchButton" class="btn btn-primary input-group-text"><i
                    class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>


    <table class="table table-hover mt-4" style="overflow-y: scroll; max-height: 230px">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Version Name</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Sale Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productversions}" class="align-items-center">
            <th th:text="${item?.id}"></th>
            <td><input th:value="${item?.productID?.name}" class="input-group-text w-200" type="text"></td>
            <td><input th:value="${item?.versionName}" class="input-group-text"></td>
            <td><input th:value="${item?.purchasePrice}" class="input-group-text"></td>
            <td><input th:value="${item?.price}" class="input-group-text"></td>
            <td><input th:value="${item?.quantity}" class="input-group-text"></td>
            <td>
                <div class="form-check form-switch">
                    <input th:value="${item?.status}" class="form-check-input" type="checkbox"
                           id="flexSwitchCheckDefault"
                           th:checked="${item?.status}">
                </div>
            </td>
            <td>
                <img class="img-fluid " th:src="${item?.image}">
            </td>
            <td>
<!--                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"-->
<!--                        data-bs-target="#viewModal"><i class="bi bi-eye"></i></button>-->
                <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>


        </tbody>
    </table>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<script src="/js/addModelAttribute.js"></script>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        // Lấy giá trị từ khóa tìm kiếm từ ô nhập liệu
        var searchTerm = document.getElementById('searchInput').value.toLowerCase();
        // Lặp qua từng hàng trong bảng
        var rows = document.querySelectorAll('.table tbody tr');
        rows.forEach(function (row) {
            // Lấy giá trị tên sản phẩm từ ô nhập liệu trong cột "Product"
            var productName = row.querySelector('td:nth-child(2) input').value.toLowerCase();
            // Ẩn hoặc hiển thị hàng tùy thuộc vào từ khóa tìm kiếm
            if (productName.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
