<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Version Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5 bg-light">

    <div class="row">
        <div class="col-9">
            <h1 class="mb-4">Product Version Table</h1>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" class="form-control">
                <button class="btn btn-primary"><i class="bi bi-funnel"></i></button>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Version Name</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Sale Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>IPhone 15</td>
            <td>Standard version</td>
            <td>799$</td>
            <td>899$</td>
            <td>10</td>
            <td>Active</td>
            <td>image</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewModal"><i class="bi bi-eye"></i></button>
                <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>SamSung Galaxy S22</td>
            <td>Utral 5G</td>
            <td>850$</td>
            <td>900$</td>
            <td>10</td>
            <td>Inactive</td>
            <td>image</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewModal"><i class="bi bi-eye"></i></button>
                <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>XiaoMi 13</td>
            <td>Utral 5G</td>
            <td>799$</td>
            <td>900$</td>
            <td>20</td>
            <td>Active</td>
            <td>image</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewModal"><i class="bi bi-eye"></i></button>
                <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
        </tr>

        </tbody>
    </table>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<script>
    // Tạo một đối tượng div để chứa nội dung HTML của modal
    var modalContainer = document.createElement('div');
    modalContainer.innerHTML = `
  <!-- The Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Product Version Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row col-10" style="margin-left: 5vw">
                    <div class="d-flex align-items-center py-2 mb-3" style="box-shadow: 0px 5px 10px gray;">
                        <div class="col-2 offset-3">
                            <img src="/images/productVersion/SamSungS22Utral5G.png" class="img-fluid me-3"
                                 alt="Product Image">
                        </div>
                        <div class="col-4 offset-1">
                            <h5 class="mb-0">Version Name: <small id="versionName">Samsung S22 Ultra 5G</small></h5>
                            <p class="mb-0">Status: <small class="text-muted">Active</small></p>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <hr>
                        <!-- Row 1 -->
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="comboBox1">Screen Technology</label>
                                <select id="comboBox1" class="form-select">
                                    <option value="1">Dynamic AMOLED 2X</option>
                                    <option value="2">Super Retina XDR</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox2">Resolution</label>
                                <select id="comboBox2" class="form-select">
                                    <option value="1">2K+ (1440 x 3088 Pixels)</option>
                                    <option value="2">4K (2160 x 3840 Pixels)</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox3">Widescreen</label>
                                <select id="comboBox3" class="form-select">
                                    <option value="1">6.8" - Scan frequency 120 Hz</option>
                                    <option value="2">6.7" - Scan frequency 90 Hz</option>
                                </select>
                            </div>

                        </div>
                        <!-- Row 2 -->
                        <div class="row mb-3">
                        <div class="col-4">
                                <label for="comboBox4">Maximum Brightness</label>
                                <select id="comboBox4" class="form-select">
                                    <option value="1">1750 nits</option>
                                    <option value="2">2000 nits</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox5">Touch Glass</label>
                                <select id="comboBox5" class="form-select">
                                    <option value="1">Corning Gorilla Glass Victus+</option>
                                    <option value="2">Sapphire Crystal</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox6">His Room Resolution</label>
                                <select id="comboBox6" class="form-select">
                                    <option value="1">Main 108 MP & Secondary 12 MP</option>
                                    <option value="2">Main 64 MP & Secondary 8 MP</option>
                                </select>
                            </div>


                        </div>
                        <!-- Row 3 -->
                        <div class="row mb-3">
                        <div class="col-4">
                                <label for="comboBox7">Film Resolution</label>
                                <select id="comboBox7" class="form-select">
                                    <option value="1">8K 4320p@24fps</option>
                                    <option value="2">4K 2160p@60fps</option>
                                </select>
                            </div>
                         <div class="col-4">
                                <label for="comboBox8">Flash Light</label>
                                <select id="comboBox8" class="form-select">
                                    <option value="1">Dual LED lights</option>
                                    <option value="2">Triple LED lights</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox9">Operating System</label>
                                <select id="comboBox9" class="form-select">
                                    <option value="1">Android 12</option>
                                    <option value="2">iOS 16</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="comboBox10">Processor Chip</label>
                                <select id="comboBox10" class="form-select">
                                    <option value="1">Snapdragon 8 Gen 1 8 core</option>
                                    <option value="2">Apple A15 Bionic 6-core</option>
                                </select>
                            </div>
                        </div>
                        <!-- Add more rows of select boxes here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>





`;

    // Chèn đối tượng div vào cuối thẻ body
    document.body.appendChild(modalContainer);

</script>
</body>
</html>
