<div class="container mt-4 bg-light " id="form-my-info" enctype="multipart/form-data">
    <form id="promotionForm">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="https://www.uplevo.com/img/designbox/thiet-ke-banner-anh-quang-cao.png" class="img-fluid" alt="" id="user-avatar"
                         style="width: 600px; height: 200px">
                </div>
                <hr>
                <div class="row d-flex justify-content-start j mt-4">

                        <div class="d-flex col-1  ">

                            <button type="button" class="btn btn-outline-primary btn-sm btn-nhu"><i class="bi bi-plus"></i>
                            </button>
                        </div>
                        <div class="col-5 d-flex g-0 m-0 p-0" >
                            <input style="margin-left: -5px" placeholder="level_discout" type="text" class="form-control nhu"
                                   id="name1"
                                   name="name1">

                        </div>

                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Promotion name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start date</label>
                                <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="endDate" class="form-label">End date</label>
                                <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="col-6 position-relative">
                        <div class="form-check form-switch mb-3 position-absolute top-50 start-50 translate-middle">
                            <input class="form-check-input " type="checkbox" id="productStatus" name="productStatus">
                            <label class="form-check-label" for="productStatus"> Active</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div class="mb-3 p-2 bd-highlight">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" id="">Clear</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </form>

    <div class="d-flex mt-4" style="overflow-y: scroll; max-height: 230px">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Promotion ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Poster</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Example row -->
            <tr>
                <th scope="row">1</th>
                <td>Summer Sale</td>
                <td>Get 50% off on selected items.</td>
                <td>2024-06-01</td>
                <td>2024-06-30</td>
                <td>Active</td>
                <td>Image</a></td>
                <td> <!-- Thêm nút "Update" và "Delete" -->
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Summer Sale</td>
                <td>Get 50% off on selected items.</td>
                <td>2024-06-01</td>
                <td>2024-06-30</td>
                <td>Active</td>
                <td>Image</a></td>
                <td> <!-- Thêm nút "Update" và "Delete" -->
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Summer Sale</td>
                <td>Get 50% off on selected items.</td>
                <td>2024-06-01</td>
                <td>2024-06-30</td>
                <td>Active</td>
                <td>Image</a></td>
                <td> <!-- Thêm nút "Update" và "Delete" -->
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Summer Sale</td>
                <td>Get 50% off on selected items.</td>
                <td>2024-06-01</td>
                <td>2024-06-30</td>
                <td>Active</td>
                <td>Image</a></td>
                <td> <!-- Thêm nút "Update" và "Delete" -->
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Summer Sale</td>
                <td>Get 50% off on selected items.</td>
                <td>2024-06-01</td>
                <td>2024-06-30</td>
                <td>Active</td>
                <td>Image</a></td>
                <td> <!-- Thêm nút "Update" và "Delete" -->
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('user-avatar').addEventListener('click', function (event) {
        event.preventDefault();
        var element = document.getElementById('input-file');

        // Tạo phần tử input nếu nó chưa tồn tại
        if (!element) {
            element = document.createElement('input');
            element.type = 'file';
            element.name = 'file';
            element.id = 'input-file';
            element.style.display = 'none';
            document.getElementById('form-my-info').appendChild(element);

            // Thêm sự kiện change chỉ một lần khi phần tử được tạo
            element.addEventListener('change', function (event) {
                var file = event.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.getElementById('user-avatar');
                        img.src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                }
            });
        }

        // Kích hoạt sự kiện click của input file
        element.click();
    });
    // Lấy phần tử input
    var inputElement = document.querySelector('.nhu');

    // Thêm sự kiện keypress vào input
    inputElement.addEventListener('keypress', function (event) {
        // Kiểm tra xem phím Enter đã được nhấn chưa
        if (event.key === 'Enter') {
            // Ẩn input đi
            inputElement.style.display = 'none';
        }
    });
    // Ẩn input mặc định khi trang được tải
    document.querySelector('.nhu').style.display = 'none';
    // Thêm sự kiện click cho nút "plus"
    document.querySelector('.btn-nhu').addEventListener('click', function () {
        // Lấy phần tử input và kiểm tra trạng thái hiện tại của nó
        var inputElement = document.querySelector('.nhu');
        if (inputElement.style.display === 'none') {
            // Nếu input đã bị ẩn, hiển thị nó
            inputElement.style.display = 'block';
        } else {
            // Nếu input đang hiển thị, ẩn nó đi
            inputElement.style.display = 'none';
        }
    });

</script>
