<div class="container-fluid">
    <div class="row mt-3 mb-5">
        <h2>Review List</h2>
        <hr>
        <div class="d-flex" style="overflow-y: scroll; max-height: 600px">
            <table class="table table-bordered table-hover table-md mt-3">
                <thead class="table-dark">
                <tr>
                    <th>
                        <div class="d-flex justify-content-between">
                            <div class="p-2">ID</div>
                            <div>
                                <button type="submit" class="btn btn-dark bi bi-caret-down"></button>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Name</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div class="px-1">Product</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Date</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Review</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${Ratings}">
                    <td th:text="${item?.id}"></td>
                    <td th:text="${item?.userID?.fullname}"></td>
                    <td class="px-0 mx-0 col-3">
                        <div class="d-flex align-items-center">
                            <img th:src="'product-version/'+${item?.ProductVersionID?.image}"class="img-fluid col-1 mx-3">
                            <h6 th:text="${item?.ProductVersionID?.versionName}"></h6>
                        </div>
                    </td>
                    <td th:text="${item?.ratingDate}"></td>
                    <td>
                        <i class="fa-solid fa-star text-warning" th:if="${item?.ratingValue>0}"></i>
                        <i class="fa-solid fa-star text-warning" th:if="${item?.ratingValue>1}"></i>
                        <i class="fa-solid fa-star text-warning" th:if="${item?.ratingValue>2}"></i>
                        <i class="fa-solid fa-star text-warning" th:if="${item?.ratingValue>3}"></i>
                        <i class="fa-solid fa-star text-warning" th:if="${item?.ratingValue>4}"></i>
                    </td>
                    <td>
                        <div th:name="${item.id}">
                            <input type="hidden" th:value="${item?.userID?.avatar}" th:id="'avatar'+${item?.id}" name="${item?.id}">
                            <input type="hidden" th:value="${item?.userID?.fullname}" th:id="'fullname'+${item?.id}" name="${item?.id}">
                            <input type="hidden" th:value="${item?.comment}" th:id="'comment'+${item?.id}" name="${item?.id}">
                            <input type="hidden" th:each="Picture : ${item?.ratingPictures}" th:value="${Picture?.picture}" th:name="'pic'+${item?.id}" name="${item?.id}">
                            <button type="button" class="btn btn-primary">
                                <i class="fa-solid fa-eye" style="font-weight: bold; cursor: pointer;" th:id="${item?.id}" onclick="displayRating(this)">
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function removeModal() {
            var modalElement = document.getElementById("ratingModal");
            modalElement.remove();
        }

        function displayRating(buttonElement) {
            let avatar = document.getElementById('avatar'+buttonElement.id).value;
            let customerName = document.getElementById('fullname'+buttonElement.id).value;
            let comment = document.getElementById('comment'+buttonElement.id).value;
            let pictureName = 'picture'+buttonElement.id;
            let pictures = document.querySelectorAll('[name="'+pictureName+'"]');
            let firstPicture = pictures.length > 0 ? pictures[0].value : '';

            var modalContainer = document.createElement('div');
            modalContainer.innerHTML = `
       <div class="modal" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" onclick="removeModal()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ratingModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="ratingContent">
                    <div class="mb-3">
                         <div class="p-2 text-center">
                             <img src="${avatar}" class="img-fluid col-2 mx-3 rounded-circle">
                             <h6>${customerName}</h6>
                             <small>${comment}</small>
                             <div class="row d-flex justify-content-center">
                                 <img src="${firstPicture}" class="img-fluid col-4 p-1" alt="">
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    `;

            document.body.appendChild(modalContainer);

            var modalElement = document.getElementById("ratingModal");
            var modal = new bootstrap.Modal(modalElement);

            modal.show();
        }
    </script>
</div>