<div class="container-fluid">
    <div class="row mt-3 mb-5">
        <h2>Review List</h2>
        <hr>
        <div class="d-flex" style="overflow-y: scroll; max-height: 600px">
            <table class="table table-bordered table-hover table-md mt-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">
                    <div class="d-flex justify-content-between">
                        <div>ID</div>
                        <div><i class="bi bi-caret-down"></i></div>
                    </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Name</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div class="px-1">Product</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Date</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex justify-content-between">
                            <div>Review</div>
                            <div><i class="bi bi-caret-down"></i></div>
                        </div>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${Ratings}">
                    <td th:text="${item?.productID?.id}"></td>
                    <td th:text="${item?.userID?.name}"></td>
                    <td class="px-0 mx-0 col-3">
                        <div class="d-flex align-items-center">
                            <img th:src="'productVersion/'+${item?.image}" class="img-fluid col-1 mx-3">
                            <h6 th:text="${item?.productID?.name}"></h6>
                        </div>
                    </td>
                    <td>20-05-2024</td>
                    <td th:text="${item?.rating}">
<!--                        <i class="fa-solid fa-star text-warning"> </i>-->
<!--                        <i class="fa-solid fa-star text-warning"> </i>-->
<!--                        <i class="fa-solid fa-star text-warning"> </i>-->
<!--                        <i class="fa-solid fa-star text-warning"> </i>-->
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rating"><i class="bi bi-eye-fill"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <script>
                // Tạo một đối tượng div để chứa nội dung HTML của modal
                var modalContainer = document.createElement('div');
                modalContainer.innerHTML = `
    <!-- The Modal -->
    <div class="modal" id="rating">
        <div class="modal-dialog">
            <div class="modal-content" >
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                <div class="mb-3">
                     <div class="p-2 text-center">
                         <img src="/images/User/user2.jpg" class="img-fluid col-2 mx-3 rounded-circle">
                         <h6>Marry</h6>
                         <small>Product very good 😍😍😍😍😍😍</small>
                         <div class="row d-flex justify-content-center">
                         <img src="/images/productVersion/GooglePixel5Sage512GB.png" class="img-fluid col-4 p-1" alt="">
                         <img src="/images/productVersion/iPhone13White.png" class="img-fluid col-4 p-1" alt="">
                         <img src="/images/productVersion/iPhone13Blue.png" class="img-fluid col-4 p-1"  alt="">
                         </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
`;

                // Chèn đối tượng div vào cuối thẻ body
                document.body.appendChild(modalContainer);

            </script>

        </div>
    </div>
</div>