<section class="container-fluid mt-3">
    <div class="row mt-3 mx-0 px-0 border border-light bg-light" style="box-shadow: 5px 5px 10px gray;">
        <div class="col-md-3 p-3">
            <div class="d-flex justify-content-around p-2 rounded-4 border border-success bg-light">
                <div class="text-success rounded-4 border border-success mx-0 p-3 px-4 my-2"><h1
                        class="fa-solid fa-hand-holding-medical"></h1></div>
                <div class="text-center text-success mt-3">
                    <h3>500</h3>
                    <h6>Product has been sold</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="d-flex justify-content-around p-2 rounded-4 border border-info bg-light">
                <div class="text-info rounded-4 border border-info mx-0 p-3 px-3 my-2"><h1
                        class="fa-solid fa-truck-fast"></h1></div>
                <div class="text-center text-info mt-3">
                    <h4>38</h4>
                    <h6>Product is shipping</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="d-flex justify-content-around p-2 rounded-4 border border-warning bg-light">
                <div class="text-warning rounded-4 border border-warning mx-0 p-3 px-4 my-2"><h1
                        class="fa-regular fa-square-check"></h1></h1></div>
                <div class="text-center text-warning mt-3">
                    <h4>10</h4>
                    <h6>Product is about to run out of stock</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="d-flex justify-content-around p-2 rounded-4 border border-danger bg-light">
                <div class="text-danger rounded-4 border border-danger mx-0 p-3 px-4 my-2"><h1
                        class="fa-solid fa-ban"></h1></div>
                <div class="text-center text-danger mt-3">
                    <h4>1</h4>
                    <h6>Product is out of stock</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid mt-3">
    <div class="row" >
        <div class="mt-3 w-25">
            <div class="input-group mb-3">
                <label>Brand: </label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" list="brandModel" id="brandinput" placeholder="Enter brandModel">
                    <button class="btn btn-primary input-group-text"><i class="fa-solid fa-filter"></i></button>
                </div>
                <datalist id="brandModel">
                    <option value="Samsung">
                    <option value="Apple">
                    <option value="Techno">
                    <option value="Oppo">
                    <option value="Xiaomi">
                </datalist>
            </div>
        </div>
        <div class="mt-3 w-25">
            <div class="input-group mb-3">
                <label>Category: </label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" list="category" id="categoryInput"
                           placeholder="Enter category">
                    <button class="btn btn-primary input-group-text"><i class="fa-solid fa-filter"></i></button>
                </div>
                <datalist id="category">
                    <option value="Gaming">
                    <option value="Compact">
                    <option value="Cinema">
                    <option value="Light">
                </datalist>
            </div>
        </div>
        <div class="mt-3 w-25">
            <label>Sort by: </label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Default</option>
                <option value="1">Price</option>
                <option value="2">Quantity</option>
                <option value="3">Revenue</option>
            </select>
        </div>
    </div>
    <div class="row px-2"  style="max-height: 380px; overflow-y: auto; ">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Version Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Units Sold</th>
                <th scope="col">Inventory</th>
                <th scope="col">Cost Price</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Revenue</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${statisticalProducts}">
                <td th:text="${item?.id}"></td>
                <td th:text="${item?.versionName}"></td>
                <td th:text="${item?.productName}"></td>
                <td th:text="${item?.brand}"></td>
                <td th:text="${item?.category}"></td>
                <td th:text="${item?.unitsSold}"></td>
                <td th:text="${item?.inventory}"></td>
                <td th:text="${item?.costPrice}"></td>
                <td th:text="${item?.sellingPrice}"></td>
                <td th:text="${item?.revenue}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>