<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8" style="max-height: 500px; overflow-y: auto;">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="selectAll">
                                <label class="form-check-label" for="selectAll"> All </label>
                            </div>
                        </th>
                        <th scope="col" colspan="2" class="px-1">Product</th>
                        <th scope="col" class="px-5">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item :${Carts}">
                        <td class="py-4">
                            <div class="form-check">
                                <input class="form-check-input checkbox-item" type="checkbox">
                            </div>
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img th:src="'product-version/'+${item?.productVersionID?.image}"
                                     class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="pt-4">
                            <h6 th:text="${item?.productVersionID?.versionName}"></h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class="input-group-prepend">
                                <a class="btn btn-outline-secondary" type="button"
                                   onclick="updateQuantity('${item?.id}', -1)" id="minusButton"
                                   th:classappend="${item?.quantity == 1} ? 'disabled'">-</a>
                            </div>
                            <div class="col-3">
                                <input id="quantityInput${item?.id}" type="text" class="form-control text-center"
                                       th:value="${item?.quantity}">
                            </div>
                            <div class="input-group-append">
                                <a class="btn btn-outline-secondary" type="button"
                                   onclick="updateQuantity('${item?.id}', 1)" id="pushButton">+</a>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px" th:text="${item?.productVersionID?.price}"></s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 p-3 rounded-3" style="box-shadow: 2px 5px 8px gray">
                <form class="custom-form">
                    <h3>Customer Information</h3>
                    <small class="d-block">Name: <span th:text="${user?.fullname}"></span></small>
                    <small class="d-block">Phone: (+84) <span th:text="${user?.phone}"></span></small>
                    <small class="d-block">Address: <span th:text="${user?.address}"></span></small>
                    <hr>
                    <h5>Product List</h5>
                    <div class="row" style="max-height: 180px; overflow-y: auto">
                        <div class="d-flex align-items-center px-5">
                            <div class="form-check p-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <div class="p-2 col-3">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-2">
                                <small class="d-block">iPhone 13 128GB White</small>
                                <i class="">$1099.00</i> <i class="">x1</i>
                                <h6 class="d-block">$1099.00</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="input-group col-12">
                        <input class="form-control rounded-2" list="saleValue"
                               placeholder="Enter voucher code">
                        <datalist id="saleValue">
                            <option value="Sale 5%">
                            <option value="Sale 10%">
                            <option value="Sale 15%">
                            <option value="Sale 20%">
                            <option value="Sale 25%">
                        </datalist>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 d-flex">
                            <h6>Amount:</h6>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <span class="text-danger">$4.396</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 d-flex">
                            <h6>Discount:</h6>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <span class="text-danger">$43.96</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 d-flex">
                            <h3 class="text-danger">Total:</h3>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <h3 class="text-danger">$4.352,04</h3>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#cart">
                        Buy
                    </button>
                </form>
                <script src="/js/createModelCart.js"></script>
                <!--                quantity-->
                <script src="/js/updateQuantity.js"></script>
                <!--                select all & show delete all-->
                <script src="/js/showDeleteAll.js"></script>
            </div>
            <div>
                <button type="submit" id="deleteButton" class="btn btn-danger" style="display:none;">Delete All</button>
            </div>
        </div>
    </div>
</main>