<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8" style="min-height: 500px; overflow-y: auto;" >
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="all" value="checkedValue">
                                <label class="form-check-label"> All </label>
                            </div>
                        </th>
                        <th scope="col" colspan="2" class="px-1">Product</th>
                        <th scope="col" class="px-5">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="pt-4">
                            <h6>iPhone 13 64GB Black</h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class=" input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="minus('quality2')">-
                                </button>
                            </div>
                            <input type="number" class="form-control col-6 text-end" id="quality1" min="0" value="0"
                                   style="width: 60px; max-height: 40px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="plus('quality2')">+
                                </button>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px">$999.00</s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="py-4">
                            <h6>iPhone 13 64GB Black</h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class=" input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="minus('quality2')">-
                                </button>
                            </div>
                            <input type="number" class="form-control col-6 text-end" id="quality2" min="0" value="0"
                                   style="width: 60px; max-height: 40px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="plus('quality2')">+
                                </button>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px">$999.00</s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="py-4">
                            <h6>iPhone 13 64GB Black</h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class=" input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="minus('quality3')">-
                                </button>
                            </div>
                            <input type="number" class="form-control col-6 text-end" id="quality3" min="0" value="0"
                                   style="width: 60px; max-height: 40px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="plus('quality3')">+
                                </button>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px">$999.00</s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="py-4">
                            <h6>iPhone 13 64GB Black</h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class=" input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="minus('quality4')">-
                                </button>
                            </div>
                            <input type="number" class="form-control col-6 text-end" id="quality4" min="0" value="0"
                                   style="width: 60px; max-height: 40px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="plus('quality4')">+
                                </button>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px">$999.00</s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-4">
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td class="px-0 mx-0 col-1 py-3">
                            <div class="d-flex align-items-center">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid w-50">
                            </div>
                        </td>
                        <td class="py-4">
                            <h6>iPhone 13 64GB Black</h6>
                        </td>
                        <td class="d-flex py-4">
                            <div class=" input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" onclick="minus('quality5')">-
                                </button>
                            </div>
                            <input type="number" class="form-control col-6 text-end" id="quality5" min="0" value="0"
                                   style="width: 60px; max-height: 40px">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="plus('quality5')">+
                                </button>
                            </div>
                        </td>
                        <td class="py-2">
                            <s style="font-size: 12px">$999.00</s>
                            <h6>$899.00</h6>
                        </td>
                        <td class="py-4">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 p-3 rounded-3" style="box-shadow: 2px 5px 8px gray">
                <form class="custom-form">
                    <h3>Customer Information</h3>
                    <small class="d-block">Name: Tom</small>
                    <small class="d-block">Phone: (+84) 372 888 992</small>
                    <small class="d-block">Address: Can Tho City</small>
                    <hr>
                    <h5>Product List</h5>
                    <div class="row" style="max-height: 180px; overflow-y: auto">
                        <div class="d-flex align-items-center px-5">
                            <div class="form-check p-2">
                                <input class="form-check-input" type="checkbox" value="" id="">
                            </div>
                            <div class="p-2 col-3">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-2">
                                <small class="d-block">iPhone 13 128GB White</small>
                                <i class="">$1099.00</i> <i class="">x1</i>
                                <h6 class="d-block">$1099.00</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-5">
                            <div class="form-check p-2">
                                <input class="form-check-input" type="checkbox" value="" id="">
                            </div>
                            <div class="p-2 col-3">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-2">
                                <small class="d-block">iPhone 13 128GB White</small>
                                <i class="">$1099.00</i> <i class="">x1</i>
                                <h6 class="d-block">$1099.00</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-5">
                            <div class="form-check p-2">
                                <input class="form-check-input" type="checkbox" value="" id="">
                            </div>
                            <div class="p-2 col-3">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-2">
                                <small class="d-block">iPhone 13 128GB White</small>
                                <i class="">$1099.00</i> <i class="">x1</i>
                                <h6 class="d-block">$1099.00</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-5">
                            <div class="form-check p-2">
                                <input class="form-check-input" type="checkbox" value="" id="">
                            </div>
                            <div class="p-2 col-3">
                                <img src="/images/productVersion/iPhone12Black64GB.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-2">
                                <small class="d-block">iPhone 13 128GB White</small>
                                <i class="">$1099.00</i> <i class="">x1</i>
                                <h6 class="d-block">$1099.00</h6>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group col-12">
                        <input class="form-control rounded-2" list="saleValue"
                               placeholder="Enter voucher code">
                        <datalist id="saleValue">
                            <option value="Sale 5%">
                            <option value="Sale 10%">
                            <option value="Sale 15%">
                            <option value="Sale 20%">
                            <option value="Sale 25%">
                        </datalist>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 d-flex">
                            <h6>Amount:</h6>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <span class="text-danger">$4.396</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 d-flex">
                            <h6>Discount:</h6>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <span class="text-danger">$43.96</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 d-flex">
                            <h3 class="text-danger">Total:</h3>
                        </div>
                        <div class="col-3 offset-4 text-end d-flex">
                            <h3 class="text-danger">$4.352,04</h3>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#cart">Buy</button>
                </form>
                <script>
                    // Tạo một đối tượng div để chứa nội dung HTML của modal
                    var modalContainer = document.createElement('div');
                    modalContainer.innerHTML = `
    <!-- The Modal -->
    <div class="modal" id="cart">
        <div class="modal-dialog">
            <div class="modal-content" >
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
`;

                    // Chèn đối tượng div vào cuối thẻ body
                    document.body.appendChild(modalContainer);

                </script>
            </div>
        </div>
    </div>

    </div>
    <script>

        const plus = function (name) {
            var input = document.getElementById(name);
            var value = parseInt(input.value);
            input.value = value + 1;
        }

        const minus = function (name) {
            var input = document.getElementById(name);
            var value = parseInt(input.value);
            if (value > 0) {
                input.value = value - 1;
            }
        }

    </script>
</main>