<main>
    <div class="container">
        <div class="py-3">
            <div class="container px-5 my-5">
                <div class="row">
                    <div class="col-md-5 offset-1">
                        <img src="/ui/contact.png" class="w-100 mb-5">
                        <p><i class="bi bi-house-door-fill"></i> FPT Polytechnic, 22 Street, Thuong Thach, Cai
                            Rang, Can Tho City</p>
                        <p><i class="bi bi-telephone-fill"></i> (+84) 375 613 426</p>
                        <p><i class="bi bi-envelope-fill"></i> <a href="mailto:lytinhnhiem@gmail.com">lytinhnhiem@gmail.com</a>
                        </p>
                        <p><i class="bi bi-calendar-week-fill"></i>
                            Monday - Friday: 8:00 AM - 22:00 PM<br>
                            Saturday: 8:00 AM - 20:00 PM
                        </p>
                    </div>
                    <div class="col-md-5 offset-1">
                        <form>
                            <div class="">
                                <h2>Send us a message</h2>
                                <div class="mb-3">
                                    <label class="form-label">Full name: </label>
                                    <input type="text" class="form-control" placeholder="Enter name">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email address: </label>
                                    <input type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Phone: </label>
                                    <input type="text" class="form-control" placeholder="Enter phone">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Message</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary offset-2 col-8">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31433.16534377932!2d105.7497567760698!3d10.004824076934067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1705766875097!5m2!1svi!2s"
                            width="50vw" height="500vw" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>