<main class="pt-5">
    <div class="container border">
        <div class="row mt-5 mb-5">
            <div class="d-flex align-items-center border-bottom">

                <div class="col-12 mt-3 mb-3 col-md-5 offset-md-1">
                    <img style="max-width: 500px; height: 500px;" class="d-flex flex-block"
                         th:id="'prodImg'+${product.id}"
                         th:src="@{${product.image}}" alt="Product Image">
                </div>
                <div class="col-12 mt-3 mb-3 col-md-5">
                    <div class="info1">
                        <h1 style="font-weight: bold" th:text="${product.versionName}"></h1>
                        <h4 class="mt-1 mb-1"><i class="fa-solid fa-star text-warning"></i>
                            <span th:text="${product.averageRating}">4.9</span>/5</h4>

                        <h3 class="text-danger">
                            <span id="discountedPrice" th:text="'$'+${product.discountedPrice}">$</span>
                            <s th:if="${product.discountedPrice lt product.price}" th:text=" '$'+${product.price}"
                               class="text-dark" style="font-size: 15px">$350</s><br>
                        </h3>

                        <hr class="mb-2">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3 row">
                        <div id="quality1" class="col-3 mb-3">
                            <label class="col-2" for="quality1">Quality:</label><br>
                            <div class="input-group mb-1 ">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" id="minusBtn1">-
                                    </button>
                                </div>
                                <input type="number" class="form-control text-end" id="numberInput1" min="1" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="plusBtn1">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-1 col-9">
                            <h3 id="totalPrice" class="text-danger">Total: $<span id="totalPriceValue">0</span></h3>
                        </div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="voucher" id="voucherSelect">
                            <option selected value="-1" data-least-discount="0">---Choose a voucher---</option>
                            <option th:each="item : ${vouchers}"
                                    th:selected="${item.id} == ${versionAttribute?.productVersionID?.id}"
                                    th:text="${item.voucherCode}" th:value="${item.id}"
                                    th:data-least-discount="${item.leastDiscount}">
                            </option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-warning col-6 mx-2 w-100"
                           th:onclick="'addCart(' + ${product.id} + ')'">
                            <i class="fa-solid fa-bag-shopping"></i> Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function updateTotalPrice() {
                var quantity = parseInt(document.getElementById('numberInput1').value);
                var discountedPrice = parseFloat(document.getElementById('discountedPrice').textContent.replace('$', ''));
                var voucherSelect = document.getElementById('voucherSelect');
                var selectedOption = voucherSelect.options[voucherSelect.selectedIndex];
                var leastDiscount = parseFloat(selectedOption.getAttribute('data-least-discount'));

                var totalPrice = (quantity * discountedPrice) - leastDiscount;
                document.getElementById('totalPriceValue').textContent = totalPrice.toFixed(2);
            }

            document.getElementById('plusBtn1').addEventListener('click', function () {
                var input = document.getElementById('numberInput1');
                var value = parseInt(input.value);
                if (value >= 1) {
                    input.value = value + 1;
                    updateTotalPrice(); // Gọi hàm updateTotalPrice() sau khi thay đổi số lượng
                }
            });

            document.getElementById('minusBtn1').addEventListener('click', function () {
                var input = document.getElementById('numberInput1');
                var value = parseInt(input.value);
                if (value > 1) {
                    input.value = value - 1;
                    updateTotalPrice(); // Gọi hàm updateTotalPrice() sau khi thay đổi số lượng
                }
            });

            document.getElementById('voucherSelect').addEventListener('change', function () {
                updateTotalPrice();
            });

            // Gọi hàm updateTotalPrice() khi trang web được tải để tính toán tổng giá ban đầu
            window.onload = function () {
                updateTotalPrice();
            };

        </script>
        <div class="row mt-5 mb-5">
            <div class="col-7 offset-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center" style="font-weight: bold"
                            th:text="${product.versionName}"></h2>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr th:each="item : ${attributes}">

                                    <td th:text="${item.attributeName}"></td>
                                    <td></td>
                                    <td>
                                        <ul>
                                            <li th:each="attrValue : ${item.attributeValues}"
                                                th:text="${attrValue}"></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="row mt-5 mb-5"></div>
    </div>
</main>
