<main class="pt-5">
    <section class="container p-5 mb-2">
        <div class="row">
            <div class="col-12 col-md-6 bg-dark p-0 rounded-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card text-white">
                                <img class="card-img-top d-block w-100" th:src="@{/ui/image2.png}" alt="Card image">
                                <div class="card-img-overlay row p-4">
                                    <div class="col-4 mt-5">
                                        <h4 class="card-title mt-5 text-warning" style="font-weight: bold">Special Product</h4>
                                        <h2 class="card-text" style="font-weight: bold" th:text="${specialProduct?.name}"></h2>
                                        <h6 th:text="'From $' + ${#numbers.formatDecimal(specialProduct?.productVersions[0]?.price, 1, 2)}"></h6>
                                        <a th:href="'/product/detail?prod='+${specialProduct?.id}" class="btn btn-primary mt-3">Show detail</a>
                                    </div>

                                    <div class="col-8">
                                        <img th:src="@{${specialProduct?.productVersions[0]?.image}}" class="w-100" width="350" height="350">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card text-white">
                                <img class="card-img-top d-block w-100" th:src="@{/ui/image1.png}" alt="Card image">
                                <div class="card-img-overlay row p-4">
                                    <div class="col-8">
                                        <img th:src="@{${hotProduct?.productVersions[0]?.image}}" class="w-100" width="350" height="350">
                                    </div>
                                    <div class="col-4 mt-5">
                                        <h4 class="card-title mt-5 text-warning" style="font-weight: bold">Hot product</h4>
                                        <h2 class="card-text" style="font-weight: bold" th:text="${hotProduct?.name}"></h2>
                                        <h6 th:text="'From $' + ${#numbers.formatDecimal(hotProduct?.productVersions[0]?.price, 1, 2)}"></h6>
                                        <a href="#" class="btn btn-primary mt-3">Show detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <!-- Hàng đầu tiên -->
                <div class="row mt-2 mb-3">
                    <!-- Top 1 -->
                    <div class="col-12 col-md-6" th:if="${topSale.size() > 0}">
                        <div class="card text-dark">
                            <img class="card-img-top d-block w-100" th:src="@{/ui/image3.png}" alt="Card image">
                            <div class="card-img-overlay">
                                <div class="row">
                                    <div class="col-6 mx-0 px-0">
                                        <img th:if="${topSale[0].productVersions != null and topSale[0].productVersions.size() > 0}"
                                             th:src="@{${topSale[0].productVersions[0]?.image}}"
                                             class="w-100" width="150" height="150" alt="Product image">
                                    </div>
                                    <div class="col-6 mx-0 px-0 position-relative">
                                        <div class="position-absolute top-0 start-0">
                                            <b class="card-title text-danger mb-0">Top 1 selling</b>
                                            <h6 style="font-weight: bold; font-size: 1.1rem" th:text="${topSale[0].name}" class="mb-0"></h6>
                                            <small class="card-text text-danger text-danger mb-1" th:text="'From $' + ${#numbers.formatDecimal(topSale[0].productVersions[0]?.price, 1, 2)}"></small>
                                        </div>
                                        <div class="position-absolute bottom-0 start-0">
                                            <a th:href="@{'/product/detail?prodID=' + ${topSale[0].id}}" class="btn btn-primary">Show detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Top 2 -->
                    <div class="col-12 col-md-6" th:if="${topSale.size() > 1}">
                        <div class="card text-dark">
                            <img class="card-img-top d-block w-100" th:src="@{/ui/image3.png}" alt="Card image">
                            <div class="card-img-overlay">
                                <div class="row">
                                    <div class="col-6 mx-0 px-0">
                                        <img th:if="${topSale[1].productVersions != null and topSale[1].productVersions.size() > 0}"
                                             th:src="@{${topSale[1].productVersions[0]?.image}}"
                                             class="w-100" width="150" height="150" alt="Product image">
                                    </div>
                                    <div class="col-6 mx-0 px-0 position-relative">
                                        <div class="position-absolute top-0 start-0">
                                            <b class="card-title text-danger mb-0">Top 2 selling</b>
                                            <h6 style="font-weight: bold; font-size: 1.1rem" th:text="${topSale[1].name}" class="mb-0"></h6>
                                            <small class="card-text text-danger" th:text="'From $' + ${#numbers.formatDecimal(topSale[1].productVersions[0]?.price, 1, 2)}"></small>
                                        </div>
                                        <div class="position-absolute bottom-0 start-0">
                                            <a th:href="@{'/product/detail?prodID=' + ${topSale[1].id}}" class="btn btn-primary">Show detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hàng thứ hai -->
                <div class="row">
                    <!-- Top 3 -->
                    <div class="col-12 col-md-6" th:if="${topSale.size() > 2}">
                        <div class="card text-dark">
                            <img class="card-img-top d-block w-100" th:src="@{/ui/image4.png}" alt="Card image">
                            <div class="card-img-overlay">
                                <div class="row">
                                    <div class="col-6 mx-0 px-0">
                                        <img th:if="${topSale[2].productVersions != null and topSale[2].productVersions.size() > 0}"
                                             th:src="@{${topSale[2].productVersions[0]?.image}}"
                                             class="w-100" width="150" height="150" alt="Product image">
                                    </div>
                                    <div class="col-6 mx-0 px-0 position-relative">
                                        <div class="position-absolute top-0 start-0">
                                            <b class="card-title text-danger mb-0">Top 3 selling</b>
                                            <h6 style="font-weight: bold; font-size: 1.1rem" th:text="${topSale[2].name}" class="mb-0"></h6>
                                            <small class="card-text text-danger" th:text="'From $' + ${#numbers.formatDecimal(topSale[2].productVersions[0]?.price, 1, 2)}"></small>
                                        </div>
                                        <div class="position-absolute bottom-0 start-0">
                                            <a th:href="@{'/product/detail?prodID=' + ${topSale[2].id}}" class="btn btn-primary">Show detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Top 4 -->
                    <div class="col-12 col-md-6" th:if="${topSale.size() > 3}">
                        <div class="card text-dark">
                            <img class="card-img-top d-block w-100" th:src="@{/ui/image4.png}" alt="Card image">
                            <div class="card-img-overlay">
                                <div class="row">
                                    <div class="col-6 mx-0 px-0">
                                        <img th:if="${topSale[3].productVersions != null and topSale[3].productVersions.size() > 0}"
                                             th:src="@{${topSale[3].productVersions[0]?.image}}"
                                             class="w-100" width="150" height="150" alt="Product image">
                                    </div>
                                    <div class="col-6 mx-0 px-0 position-relative">
                                        <div class="position-absolute top-0 start-0">
                                            <b class="card-title text-danger mb-0">Top 4 selling</b>
                                            <h6 style="font-weight: bold; font-size: 1.1rem" th:text="${topSale[3].name}" class="mb-0"></h6>
                                            <small class="card-text text-danger" th:text="'From $' + ${#numbers.formatDecimal(topSale[3].productVersions[0]?.price, 1, 2)}"></small>
                                        </div>
                                        <div class="position-absolute bottom-0 start-0">
                                            <a th:href="@{'/product/detail?prodID=' + ${topSale[3].id}}" class="btn btn-primary">Show detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <section class="p-5 mb-5" style="background-color: #d6d0cf">
        <div class="container">
            <div class="row p-3">
                <div class="col-3">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-truck-fast" style="font-weight: bold; font-size: 5vh"></i>
                        </div>
                        <div class="col-9">
                            <b>Free shipping</b>
                            <br>
                            <small> From all orders over $100</small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-gift" style="font-weight: bold; font-size: 5vh"></i>
                        </div>
                        <div class="col-9">
                            <b> Daily Surprise Offers</b>
                            <br>
                            <small> Save up to 25% off</small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-headset" style="font-weight: bold; font-size: 5vh"></i>
                        </div>
                        <div class="col-9">
                            <b>Support 24/7</b>
                            <br>
                            <small> Shop with an expert</small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-hand-holding-dollar" style="font-weight: bold; font-size: 5vh"></i>
                        </div>
                        <div class="col-9">
                            <b>Affordable Prices</b>
                            <br>
                            <small>Get Factory direct price</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-3 mt-3 mb-5">
        <div class="container bg-white rounded-4" style="box-shadow: 5px 0px 15px gray">
            <div class="row text-center">
                <div class="col-2">
                    <img src="/ui/apple.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/oppo.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/techno.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/xiaomi.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/sony.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/huawei.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/vivo.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/realme.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/samsung.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/lg.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/oneplus.png" class="flex-block w-50">
                </div>
                <div class="col-2 p-3">
                    <img src="/ui/google.png" class="flex-block w-50">
                </div>
            </div>
        </div>
    </section>

    <section class="p-3 mt-3 mb-5" th:each="entry: ${productCatList}">
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="d-flex justify-content-start" th:text="${entry?.key.name}"></h1>
                    <a class="d-flex justify-content-end nav-link text-primary"
                       th:href="'/product?catID='+${entry?.key?.id}">View all</a>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4" th:each="productVersion : ${entry.value}">
                        <div class="row">
                            <div class="col-5 position-relative">
                            <span class="badge bg-warning position-absolute top-2 start-2"
                                  th:if="${productVersion?.discountedPrice lt productVersion?.price}"
                                  th:text="'-' + ${productVersion?.discountPercentage} + '%'"></span>
                                <a th:href="'product/detail?id='+${productVersion?.id}" class="d-flex">
                                    <img th:src="@{${productVersion?.image}}"
                                         class="flex-block w-100 position-relative d-flex" th:id="'prodImg'+${productVersion?.id}"
                                         style="height: 20vh; width: auto">
                                </a>
                            </div>
                            <div class="col-7 position-relative">
                                <div class="position-absolute top-5 start-0">
                                    <h5 style="font-weight: bold; font-size: 1.1rem " th:text="${productVersion?.versionName}"></h5>
                                    <b class="mt-1"><i class="fa-solid fa-star text-warning"></i>
                                        <span th:text="${productVersion?.averageRating}"></span>/5
                                    </b> <br>
                                    <b class="text-danger" th:text="${productVersion?.discountedPrice}"></b>
                                    <s th:if="${productVersion?.discountedPrice lt productVersion?.price}"
                                       th:text="${productVersion?.price}"></s><br>
                                </div>
                                <div class="position-absolute bottom-0 start-0">
                                    <a class="btn btn-primary" th:onclick="'addToCart(' + ${productVersion.id} + ')'">Add to cart</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>