<div class="container" style="min-height: 60vh">
    <div class="row mt-3 mb-5">
        <div class="container">
        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Order awaiting confirmation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-are-delivered" data-bs-toggle="pill" data-bs-target="#pills-delivered" type="button" role="tab" aria-controls="pills-delivered" aria-selected="false">Order is being delivered</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Order received</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-cancel" data-bs-toggle="pill" data-bs-target="#pills-cancelled" type="button" role="tab" aria-controls="pills-cancelled" aria-selected="false">Order has been cancelled</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="d-flex" style="overflow-y: scroll; max-height: 500px">
                    <table class="table table-bordered table-hover text-center mt-3">
                        <thead class="table-dark">
                        <tr>
                            <th >ID</th>
                            <th >Date</th>
                            <th >Total</th>
                            <th >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${Orders}"
                            th:if="${item.orderStatus == 'Processing'}">
                            <td class="px-5" th:text="${item?.id}">1</td>
                            <td class="px-5" th:text="${item?.orderDate}">20-05-2024</td>
                            <td class="px-5" th:text="${item?.totalMoney}">$999.00</td>
                            <td >
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-eye-fill"></i> View</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-x-circle"></i> Cancel</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-delivered" role="tabpanel" aria-labelledby="pills-are-delivered" tabindex="0">
                <div class="d-flex" style="overflow-y: scroll; max-height: 500px">
                    <table class="table table-bordered table-hover text-center mt-3">
                        <thead class="table-dark">
                        <tr>
                            <th >ID</th>
                            <th >Date</th>
                            <th >Total</th>
                            <th >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${Orders}"
                            th:if="${item.orderStatus == 'Shipped'}">
                            <td class="px-5" th:text="${item?.id}">1</td>
                            <td class="px-5" th:text="${item?.orderDate}">20-05-2024</td>
                            <td class="px-5" th:text="${item?.totalMoney}">$999.00</td>
                            <td >
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-eye-fill"></i> View</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                <div class="d-flex" style="overflow-y: scroll; max-height: 500px">
                    <table class="table table-bordered table-hover text-center mt-3">
                        <thead class="table-dark">
                        <tr>
                            <th >ID</th>
                            <th >Date</th>
                            <th >Total</th>
                            <th >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${Orders}"
                            th:if="${item.orderStatus == 'Delivered'}">
                            <td class="px-5" th:text="${item?.id}">1</td>
                            <td class="px-5" th:text="${item?.orderDate}">20-05-2024</td>
                            <td class="px-5" th:text="${item?.totalMoney}">$999.00</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-eye-fill"></i> View</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#evaluate"><i class="bi bi-eye-fill"></i> Evaulate</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-cancel" tabindex="0">
                <div class="d-flex" style="overflow-y: scroll; max-height: 500px">
                    <table class="table table-bordered table-hover text-center mt-3">
                        <thead class="table-dark">
                        <tr>
                            <th >ID</th>
                            <th >Date</th>
                            <th >Total</th>
                            <th >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${Orders}"
                            th:if="${item.orderStatus == 'Canceled'}">
                            <td class="px-5" th:text="${item?.id}">1</td>
                            <td class="px-5" th:text="${item?.orderDate}">20-05-2024</td>
                            <td class="px-5" th:text="${item?.totalMoney}">$999.00</td>
                            <td >
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-eye-fill"></i> View</button>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#chooseStar"><i class="bi bi-basket3"></i> Buy creek</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <script>
            var modalContainer = document.createElement('div');
            modalContainer.innerHTML = `
                <div class="modal" id="evaluate" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                            <div class="mb-3">
                                 <div class="p-2 text-center">
                                     <img src="${user?.avatar}" class="img-fluid col-2 mx-3 rounded-circle">
                                     <h6>${user?.fullname}</h6>
                                     <div class="mb-5 text-warning">
                                        <b><i class="fa-regular fa-star" id="start1" onclick="chooseStar(1)"></i></b>
                                        <b><i class="fa-regular fa-star" id="start2" onclick="chooseStar(2)"></i></b>
                                        <b><i class="fa-regular fa-star" id="start3" onclick="chooseStar(3)"></i></b>
                                        <b><i class="fa-regular fa-star" id="start4" onclick="chooseStar(4)"></i></b>
                                        <b><i class="fa-regular fa-star" id="start5" onclick="chooseStar(5)"></i></b>
                                     </div>

                                     <div class="mb-3">
                                        <textarea class="form-control" placeholder="Enter review" row="3"></textarea>
                                     </div>
                                     <div class="mb-3">
                                        <input type="file" id="imageInput" placeholder="add images"
                                        class="form-control" accept="image/*" multiple>
                                    </div>
                                     <div class="row d-flex justify-content-center" id="imageContainer">
                                     <img th:src="'rating/'" class="img-fluid col-4 p-1"  alt="">
                                     </div>
                                     <div>
                                     <button type="submit" class="btn btn-primary w-100">Evaluate</button>
                                     </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
            document.body.appendChild(modalContainer);
        </script>
        <script src="/js/chooseStar.js"></script>
        <script>
            document.getElementById('imageInput').addEventListener('change', function(event) {
                var files = event.target.files;
                var imageContainer = document.getElementById('imageContainer');
                imageContainer.innerHTML = ''; // Xóa các hình ảnh cũ

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        var img = document.createElement('img');
                        img.src = e.target.result;
                        img.className = 'img-fluid col-4 p-1';
                        imageContainer.appendChild(img);
                    }

                    reader.readAsDataURL(file);
                }
            });
        </script>
</div>
</div>