<style>
    .col-md-6 > label {
        font-size: 2vh;
    }
</style>
<main class="container">
    <section class="row">
        <aside class="col-md-3">
            <div class="row p-0">
                <h4 class="mt-3 mb-3">Category</h4>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="category" id="category1"
                               value="Smartphones">
                        <label class="form-check-label" for="brandID1">
                            Smartphones
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="category" id="category2"
                               value="Smartphones">
                        <label class="form-check-label" for="brandID2">
                            Basic Phones
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="category" id="category3"
                               value="Camera Phones">
                        <label class="form-check-label" for="brandID3">
                            Camera Phones
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="category" id="category4"
                               value="Gaming Phones">
                        <label class="form-check-label" for="brandID4">
                            Foldable Phones
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand5" id="category5"
                               value="Camera Phones">
                        <label class="form-check-label" for="brandID5">
                            Gaming Phones
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">
                <h4 class="mt-3 mb-3">Brand</h4>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand1" id="brandID1" value="Apple">
                        <label class="form-check-label" for="brandID1">
                            Apple
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand2" id="brandID2" value="Samsung">
                        <label class="form-check-label" for="brandID2">
                            Samsung
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand3" id="brandID3" value="Xiaomi">
                        <label class="form-check-label" for="brandID3">
                            Xiaomi
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand4" id="brandID4" value="OnePlus">
                        <label class="form-check-label" for="brandID4">
                            OnePlus
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand5" id="brandID5" value="Oppo">
                        <label class="form-check-label" for="brandID5">
                            Oppo
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand6" id="brandID6" value="Sony">
                        <label class="form-check-label" for="brandID6">
                            Sony
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand7" id="brandID7" value="Huawei">
                        <label class="form-check-label" for="brandID7">
                            Huawei
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand8" id="brandID8" value="LG">
                        <label class="form-check-label" for="brandID8">
                            LG
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand9" id="brandID9" value="Techno">
                        <label class="form-check-label" for="brandID9">
                            Techno
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="checkbox" name="brand10" id="brandID10" value="Realme">
                        <label class="form-check-label" for="brandID10">
                            Realme
                        </label>
                    </div>

                </div>

            </div>
            <div class="row">
                <!-- Price -->
                <div class="col-md-12">
                    <h5 class="mt-3 mb-3">Price</h5>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price1" id="priceValueID1"
                                   value="100">
                            <label class="form-check-label" for="priceValueID1">From $100 - $200</label>
                        </div>
                        <!-- Add more price checkboxes here -->
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price2" id="priceValueID2"
                                   value="200">
                            <label class="form-check-label" for="priceValueID2">From $200 - $300</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price3" id="priceValueID3"
                                   value="300">
                            <label class="form-check-label" for="priceValueID3">From $300 - $400</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price4" id="priceValueID4"
                                   value="400">
                            <label class="form-check-label" for="priceValueID4">From $400 - $500</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price5" id="priceValueID5"
                                   value="500">
                            <label class="form-check-label" for="priceValueID5">From $500 - $600</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price6" id="priceValueID6"
                                   value="600">
                            <label class="form-check-label" for="priceValueID6">From $600 - $700</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price7" id="priceValueID7"
                                   value="700">
                            <label class="form-check-label" for="priceValueID7">From $700 - $800</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price8" id="priceValueID8"
                                   value="800">
                            <label class="form-check-label" for="priceValueID8">From $800 - $900</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input class="form-check-input" type="checkbox" name="price9" id="priceValueID9"
                                   value="900">
                            <label class="form-check-label" for="priceValueID9">From $900+</label>
                        </div>
                        <!-- Add more price checkboxes as needed -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Color</h5>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="color1" id="attributeValueID1"
                                       value="Black">
                                <label class="form-check-label" for="attributeValueID1">Black</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="color2" id="attributeValueID2"
                                       value="White">
                                <label class="form-check-label" for="attributeValueID2">White</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="color3" id="attributeValueID3"
                                       value="Blue">
                                <label class="form-check-label" for="attributeValueID3">Blue</label>
                            </div>
                        </div>
                    </div>

                    <!-- Storage Capacity -->
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Storage Capacity</h5>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="storage1" id="attributeValueID4"
                                       value="64GB">
                                <label class="form-check-label" for="attributeValueID4">64GB</label>
                            </div>
                            <!-- Add more storage capacity checkboxes here -->
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="storage2" id="attributeValueID5"
                                       value="128GB">
                                <label class="form-check-label" for="attributeValueID5">128GB</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="storage3" id="attributeValueID6"
                                       value="256GB">
                                <label class="form-check-label" for="attributeValueID6">256GB</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="storage4" id="attributeValueID7"
                                       value="512GB">
                                <label class="form-check-label" for="attributeValueID7">512GB</label>
                            </div>
                        </div>
                    </div>

                    <!-- RAM -->
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">RAM</h5>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="ram1" id="attributeValueID8"
                                       value="4GB">
                                <label class="form-check-label" for="attributeValueID8">4GB</label>
                            </div>
                            <!-- Add more RAM checkboxes here -->
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="ram2" id="attributeValueID9"
                                       value="6GB">
                                <label class="form-check-label" for="attributeValueID9">6GB</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="ram3" id="attributeValueID10"
                                       value="8GB">
                                <label class="form-check-label" for="attributeValueID10">8GB</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="ram4" id="attributeValueID11"
                                       value="12GB">
                                <label class="form-check-label" for="attributeValueID11">12GB</label>
                            </div>
                        </div>
                    </div>

                    <!-- Screen Size -->
                    <div class="col-md-12">
                        <h5 class="mt-3 mb-3">Screen Size</h5>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="screen1" id="attributeValueID12"
                                       value="5.5 inches">
                                <label class="form-check-label" for="attributeValueID12">5.5 inches</label>
                            </div>
                            <!-- Add more screen size checkboxes here -->
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="screen2" id="attributeValueID13"
                                       value="6.1 inches">
                                <label class="form-check-label" for="attributeValueID13">6.1 inches</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="screen3" id="attributeValueID14"
                                       value="6.7 inches">
                                <label class="form-check-label" for="attributeValueID14">6.7 inches</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" name="screen4" id="attributeValueID15"
                                       value="6.9 inches">
                                <label class="form-check-label" for="attributeValueID15">6.9 inches</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </aside>
        <article class="col-md-9 col-9">
            <div class="row mt-3 mb-3 d-flex justify-content-end">
                <div class="col-md-1 col-3 text-end">
                    <label class="" for="sort">Sort by</label>
                </div>
                <div class="col-3 col-md-2">
                    <select class="form-select form-select-sm" name="sort" id="sort">
                        <option selected value="-1">Default</option>
                        <option value="0">Price</option>
                        <option value="1">Promotion</option>
                        <option value="2">Time</option>
                    </select>
                </div>

                <div class="col-3 col-md-1 text-end">
                    <label class="" for="sort-status">Status</label>
                </div>
                <div class="col-3 col-md-2">
                    <select class="form-select form-select-sm" name="sort-status" id="sort-status">
                        <option selected value="-1">Default</option>
                        <option value="0">Ascending</option>
                        <option value="1">Decrease</option>
                    </select>
                </div>

            </div>

            <div class="row mt-5 mb-5">
                <div th:each="item : ${productVersions}" class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-6 position-relative">
                            <span class="badge bg-warning position-absolute top-2 start-2">-10%</span>
                            <img th:src="${item?.image}" class="img-fluid">
                        </div>
                        <div class="col-6">
                            <b class="text-danger">Apple</b>
                            <h5 style="font-weight: bold" th:text="${item?.versionName}">Iphone 15</h5>
                            <b class="mt-1"><i class="fa-solid fa-star text-warning"> </i> 4.9/5</b> <br>
                            <b class="text-danger" th:text="'$'+${item?.salePrice}">$300.00</b>
                            <s th:text="'$'+${item?.salePrice+0.1*item?.salePrice}">$350</s><br>
                            <button class="btn btn-primary">Show detail</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="'/product?pre='+${currentPage}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                            th:class="${pageNumber == currentPage ? 'active' : ''}" class="page-item">
                            <a th:href="@{${'product?page=' + pageNumber}}" class="page-link" th:text="${pageNumber}"></a>
                        </li>

                        <li th:if="${currentPage < totalPages}" class="page-item">
                            <a class="page-link" th:href="'/product?next='+${currentPage}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </article>
    </section>
</main>