<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In & Sign Up | Endless</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
<div class="container" th:classappend="${page}=='register' ? 'sign-up-mode' : ''"> <!--    sign-up-mode-->

    <div class="forms-container">
        <div class="signIn-signUp">
            <form action="/login" method="post" class="sign-in-form">
                <input type="hidden" name="path" th:value="${path}">
                <h2 class="title">Sign In</h2>
                <div class="input-field">
                    <i class='bx bx-user'></i>
                    <input type="text" id="usernameLogin" name="username" th:classappend="${loginError?.getFieldError('username')==null} ? '' : 'errorInput'"
                           th:placeholder="${loginError?.getFieldError('username') == null ? 'Username' : loginError?.getFieldError('username').getDefaultMessage()}"
                           th:value="${login?.username}">
                </div>
                <div class="input-field">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" name="password" th:classappend="${loginError?.getFieldError('password')==null} ? '' : 'errorInput'"
                           th:placeholder="${loginError?.getFieldError('password') == null ? 'Password' : loginError?.getFieldError('password').getDefaultMessage()}"
                           th:value="${login?.password}">
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" name="rememberMe" id="rememberMe" value="true">
                    <label for="rememberMe" style="margin-left: 5px"> Remember me</label>
                </div>
                <button type="submit" value="Sign In" class="btn solid">Sign In</button>
                <p class="social-text"><a href="/forget-password">Forgot password?</a></p>
            </form>
            <form action="/sign-up" method="post" class="sign-up-form">
                <h2 class="title">Sign Up</h2>
                <div class="input-field">
                    <i class='bx bx-user'></i>
                    <input type="text" name="username" th:classappend="${registerError?.getFieldError('username')==null} ? '' : 'errorInput'"
                           th:placeholder="${registerError?.getFieldError('username') == null ? 'Username' : registerError?.getFieldError('username').getDefaultMessage()}"
                           th:value="${register?.username}">
                </div>
                <div class="input-field">
                    <i class='bx bx-envelope'></i>
                    <input type="email" name="email" th:classappend="${registerError?.getFieldError('email')==null} ? '' : 'errorInput'"
                           th:placeholder="${registerError?.getFieldError('email') == null ? 'Email' : registerError?.getFieldError('email').getDefaultMessage()}"
                           th:value="${register?.email}">
                </div>
                <div class="input-field">
                    <i class='bx bx-lock-alt'></i>
                    <input type="password" name="password" th:classappend="${registerError?.getFieldError('password')==null} ? '' : 'errorInput'"
                           th:placeholder="${registerError?.getFieldError('password') == null ? 'Password' : registerError?.getFieldError('password').getDefaultMessage()}"
                           th:value="${register?.password}">
                </div>
                <div class="input-field">
                    <i class='bx bx-phone'></i>
                    <input type="password" name="repeatPassword" th:classappend="${registerError?.getFieldError('repeatPassword')==null} ? '' : 'errorInput'"
                           th:placeholder="${registerError?.getFieldError('repeatPassword') == null ? 'Repeat Password' : registerError?.getFieldError('repeatPassword').getDefaultMessage()}"
                           th:value="${register?.repeatPassword}">
                </div>
                <button type="submit" value="Sign Up" class="btn solid">Sign Up</button>

                <p class="social-text"></p>
                <div class="social-media">
                </div>
            </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>New Here ?</h3>
                <p>Welcome to our platform! Please enter your username and password to access your account. If you
                    don't have an account yet, you can sign up for free.</p>
                <button class="btn transparent" id="sign-up-btn">Sign up</button>
            </div>
            <img src="ui/NonBGLogo.png" alt="" class="img">
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>One of Us?</h3>
                <p>Welcome to our platform! Please enter your username and password to access your account. If you
                    don't have an account yet, you can sign up for free.</p>
                <button class="btn transparent" id="sign-in-btn">Sign in</button>
            </div>
            <img src="ui/NonBGLogo.png" alt="" class="img">
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
<script>

    // Lấy các phần tử cần thiết cho form đăng nhập
    const passwordInputSignIn = document.querySelector('.sign-in-form input[type="password"]');
    const eyeIconSignIn = document.querySelector('.sign-in-form .eye-icon');

    // Bắt sự kiện click vào icon con mắt cho form đăng nhập
    eyeIconSignIn.addEventListener('click', function () {
        const type = passwordInputSignIn.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInputSignIn.setAttribute('type', type);
        eyeIconSignIn.classList.toggle('bx-hide');
        eyeIconSignIn.classList.toggle('bx-show');
    });

    // Lấy các phần tử cần thiết cho form đăng ký
    const passwordInputSignUp = document.querySelector('.sign-up-form input[type="password"]');
    const eyeIconSignUp = document.querySelector('.sign-up-form .eye-icon');

    // Bắt sự kiện click vào icon con mắt cho form đăng ký
    eyeIconSignUp.addEventListener('click', function () {
        const type = passwordInputSignUp.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInputSignUp.setAttribute('type', type);
        eyeIconSignUp.classList.toggle('bx-hide');
        eyeIconSignUp.classList.toggle('bx-show');
    });


</script>
</body>

</html>