<main class="pt-5">
    <div class="container pt-5">
        <form name="profile" class="px-4" th:action="'/profile/update?id='+${user?.id}" method="post" id="form-my-info" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5 text-center">
                    <div class="text-center mt-2">
                        <img th:src="'user/'+${user?.avatar} " id="userModel-avatar"
                             class="card-img-top rounded-circle border border-secondary" style="box-shadow: 3px 2px 8px gray; width: 50vh; height: 50vh">
                        <br>
                    </div>
                    <input type="file" name="avatar" id="input-file" style="display: none;">
                </div>
                <div class="col-md-7 px-3">
                    <div class="row g-3 mt-2">
                        <div class="col-md">
                            <div class="mb-1">
                                <label class="form-label">UserID: </label>
                                <input type="text" class="form-control" name="userID" th:value="${user?.id}" placeholder="Enter userId" readonly>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Username: </label>
                                <input type="text" class="form-control" name="username" th:value="${user?.username}" placeholder="Enter username" readonly>
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("username") != null}'
                                      th:text='${error?.getFieldError("username")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Fullname: </label>
                                <input type="text" class="form-control" name="fullname" th:value="${user?.fullname}" placeholder="Enter fullname">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("fullname") != null}'
                                      th:text='${error?.getFieldError("fullname")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Email: </label>
                                <input type="text" class="form-control" name="email" th:value="${user?.email}" placeholder="Enter email">
                                <span class="text-danger"
                                   th:if='${error?.getFieldError("email") != null}'
                                   th:text='${error?.getFieldError("email")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Phone: </label>
                                <input type="text" class="form-control" name="phone" th:value="${user?.phone}" placeholder="Enter phone">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("phone") != null}'
                                      th:text='${error?.getFieldError("phone")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Address: </label>
                                <input type="text" class="form-control" name="address" th:value="${user?.address}" placeholder="Enter address">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("address") != null}'
                                      th:text='${error?.getFieldError("address")?.getDefaultMessage()}'></span>
                            </div>
                        </div>

                        <div class="mt-3 mb-5">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-up-circle-fill"></i> Update</button>
                            <a th:href="'/formProfile/clear'" type="submit" class="btn btn-warning text-white"><i class="bi bi-x-circle-fill"></i> Clear</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script src="/js/userAvatar.js"></script>
</main>
